<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="case">
      <ion-icon name="briefcase-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="users">
      <ion-badge color="danger">{{ counter }}</ion-badge>
      <ion-icon name="person-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="journal">
      <ion-badge color="danger">{{ counter }}</ion-badge>
      <ion-icon name="journal-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="settings-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
